@charset "UTF-8";

@font-face {
    font-family:'FonteLogo';
    src: url("/home/sr_anderson/Documentos/projetoshtml/projeto-glass-html5/_fonts/computer-font.ttf");
}

body {
	background-color: rgb(255, 255, 255);
	color: rgba(0, 0, 0,1);
}
p {
	text-align: justify;
	text-indent: 20px;
}

div#interface {
    width: 1600px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
}


header#topo img#icone {
    position: absolute;
    right: 10px;
    top: 50px;
}

header#topo {
    height: 200px;
    border-bottom: 1px solid rgb(64, 64, 64);
    background: url("/home/sr_anderson/Documentos/projetoshtml/projeto-glass-html5/_imagens/glass-logo-peq.jpg") no-repeat 0px 100px;
    background-size: 200pt;
}

header#topo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 40pt;
    color: #414949;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#topo h2 {
    font-family: Arial, sans-serif;
    font-size: 20pt;
    color:darkgrey;
    padding: 0px;
    margin-top: 0px;
}


/* Formatação de imagens com legendas*/



figure.foto-com-legenda {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #ffffff;
    border-left: 1px;
    box-shadow: 1px 1px 4px black;
}



figure.foto-com-legenda figcaption{
    opacity: 0;
    position:absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

figure.foto-com-legenda:hover figcaption {
    opacity: 1;
    transition: 1s;
}

/* Formatação do Menu */

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    right: 2px;
}

nav#menu li {
    display: inline-block;
    background-color: darkgray;
    padding: 11px;
    margin: 0.1px;
    
}

nav#menu h1 {
    display: none;
}

nav#menu li:hover {
    opacity: 1;
    transition: 2s;
    background-color: black;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover {
    color: white;
}

section#corpo {
    display: block;
    width: 1000px;
    float: left;
    border-right: 1px solid rgb(64, 64, 64);
    padding-right: 10px;
    padding-bottom: 10px;
}

table#tabela {
    border: 1px solid black;
    border-spacing: 0px;
}

table#tabela td{
    border: 1px solid black;
    padding: 5px;
}

table#tabela td#nome {
    text-align: right;
}



aside#lateral {
    display: block;
    width: 400px;
    float: right
}

footer#rodape {
    clear: both;
    border-top: 1px solid rgb(64, 64, 64);
}

footer#rodape p {
    text-align: center;
}