@charset "UTF-8";

body {
	background-color: white;
	color: rgba(0, 0, 0,1);
}
p {
	text-align: justify;
	text-indent: 50px;
}

/* Formatação de imagens com legendas*/



figure.foto-com-legenda {
    position: relative;
    border: 1px solid white;
    border-left: 1px;
    box-shadow: 1px 1px 4px black;
}



figure.foto-com-legenda figcaption{
    opacity: 0;
    position:absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 0%;
    box-sizing: border-box;
}

figure.foto-com-legenda:hover figcaption {
    opacity: 1;
    transition: 1s;
}

/* Formatação do Menu */

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    right: 0px;
}

nav#menu li {
    display: inline-block;
    background-color: darkgray;
    padding: 11px;
    margin: 0.1px;
    
}

nav#menu h1 {
    display: none;
}